@indata:registry=https://registry.indata.cc
# https://cnodejs.org/topic/61405b76fe0c5109a7aea0ed
registry="https://registry.npmmirror.com"
disturl="https://npmmirror.com/dist"
nvm_nodejs_org_mirror="https://npmmirror.com/mirrors/node"
nodejs_org_mirror="https://npmmirror.com/mirrors/node"
# https://github.com/mapbox/node-pre-gyp/issues/250#issuecomment-258896804
# https://github.com/mapbox/node-sqlite3/blob/master/package.json#L13
# https://github.com/mapbox/node-pre-gyp/blob/2d57e8f33a319165c29daa0f6a396473b6b0f0b3/lib/util/versioning.js#L289
node_sqlite3_binary_host_mirror="https://npmmirror.com/mirrors"
sass_binary_site="https://npmmirror.com/mirrors/node-sass"
electron_mirror="https://npmmirror.com/mirrors/electron/"
profiler_binary_host_mirror="https://npmmirror.com/mirrors/node-inspector/"
node_inspector_cdnurl="https://npmmirror.com/mirrors/node-inspector"
selenium_cdnurl="https://npmmirror.com/mirrors/selenium"
puppeteer_download_host="https://npmmirror.com/mirrors"
chromedriver_cdnurl="https://npmmirror.com/mirrors/chromedriver"
operadriver_cdnurl="https://npmmirror.com/mirrors/operadriver"
phantomjs_cdnurl="https://npmmirror.com/mirrors/phantomjs"
fse_binary_host_mirror="https://npmmirror.com/mirrors/fsevents"
canvas_binary_host_mirror="https://npmmirror.com/mirrors/canvas"
sentrycli_cdnurl="https://npmmirror.com/mirrors/sentry-cli/"
# https://segmentfault.com/a/1190000022875865
sharp_dist_base_url="https://npmmirror.com/mirrors/sharp-libvips/"
python_mirror="https://npmmirror.com/mirrors/python/"
# https://github.com/cnpm/binary-mirror-config/blob/01832e6a6da40584dc3360a2c7a8b2f8a3d3c134/package.json
ELECTRON_BUILDER_BINARIES_MIRROR="https://npmmirror.com/mirrors/electron-builder-binaries/"
SWC_BINARY_SITE="https://npmmirror.com/mirrors/node-swc/"
npm_config_sharp_binary_host="https://npmmirror.com/mirrors/sharp/"
npm_config_sharp_libvips_binary_host="https://npmmirror.com/mirrors/sharp-libvips"
npm_config_robotjs_binary_host="https://npmmirror.com/mirrors/robotjs/"
chromedriver-cdnurl="https://npmmirror.com/mirrors/chromedriver"
couchbase-binary-host-mirror="https://npmmirror.com/mirrors/couchbase/"
debug-binary-host-mirror=https://npmmirror.com/mirrors/node-inspector
electron-mirror=https://npmmirror.com/mirrors/electron/
flow-bin-binary-host-mirror=https://npmmirror.com/mirrors/flow/
fse-binary-host-mirror=https://npmmirror.com/mirrors/fsevents
fuse-bindings-binary-host-mirror=https://npmmirror.com/mirrors/fuse-bindings/
git4win-mirror=https://npmmirror.com/mirrors/git-for-windows
gl-binary-host-mirror=https://npmmirror.com/mirrors/gl/
grpc-node-binary-host-mirror=https://npmmirror.com/mirrors/grpc/
hackrf-binary-host-mirror=https://npmmirror.com/mirrors/hackrf/
leveldown-binary-host-mirror=https://npmmirror.com/mirrors/leveldown/
leveldown-hyper-binary-host-mirror=https://npmmirror.com/mirrors/leveldown-hyper/
mknod-binary-host-mirror=https://npmmirror.com/mirrors/mknod/
node-tk5-binary-host-mirror=https://npmmirror.com/mirrors/node-tk5/
nodegit-binary-host-mirror=https://npmmirror.com/mirrors/nodegit/
operadriver-cdnurl=https://npmmirror.com/mirrors/operadriver
python-mirror=https://npmmirror.com/mirrors/python
phantomjs-cdnurl=https://npmmirror.com/mirrors/phantomjs
profiler-binary-host-mirror=https://npmmirror.com/mirrors/node-inspector/
rabin-binary-host-mirror=https://npmmirror.com/mirrors/rabin/
sass-binary-site=https://npmmirror.com/mirrors/node-sass
sodium-prebuilt-binary-host-mirror=https://npmmirror.com/mirrors/sodium-prebuilt/
utf-8-validate-binary-host-mirror=https://npmmirror.com/mirrors/utf-8-validate/
utp-native-binary-host-mirror=https://npmmirror.com/mirrors/utp-native/
zmq-prebuilt-binary-host-mirror=https://npmmirror.com/mirrors/zmq-prebuilt/
# https://github.com/cnpm/binary-mirror-config/blob/master/package.json
# https://github.com/antvis/gatsby-theme-antv/blob/master/.yarnrc
# from https://gitlab.indata.cc/private_devops/dockerfile_devops/-/blob/master/alpine-nodejs-v12.22.9/.npmrc
